.vs/
App_Data/
App_Start/
Content/
EducationalPlatform.csproj
EducationalPlatform.csproj.user
EducationalPlatform.sln
Global.asax
Global.asax.cs
Migrations/
Properties/
Scripts/
Web.Debug.config
Web.Release.config
bin/
favicon.ico
fonts/
obj/
packages.config
packages
