@model EducationalPlatform.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@ViewBag.Title.</h2>
        <h4>Change your account settings</h4>
    </div>

    <div class="panel-body">
        <p class="text-success">@ViewBag.StatusMessage</p>

        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>
